.centrado{
    text-align: center; /* Centrar horizontalmente */
    display: flex; /* Utilizamos flexbox para centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente con flexbox */
    width: 70%; /* Ancho completo */
}
.buttons {
  margin-top: 0px;
}
.buttons a {
  text-decoration: none;
  color: white;
  background-color: #b63d1e;
  padding: 15px 25px;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
}
.buttons a:hover {
  background-color: #3498db;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  padding: 50px;
}
h1 {
  color: #2c3e50;
}
p {
  color: #34495e;
  font-size: 18px;
}
